@font-face {
  font-family: 'Cabin Sketch';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./QGYpz_kZZAGCONcK2A4bGOj8mNhI.ttf) format('truetype');
}
@font-face {
  font-family: 'Neucha';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./q5uGsou0JOdh94bfvQlo.ttf) format('truetype');
}
